*{
    margin: 0;
}
/*font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;*/
@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}
body{
    background-color: #000000;
    height: 100vh;
}
header{
    background-color: #000000;
    height: 10vh;
}
.navbar{
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: space-between;
}
.navbar img{    
    height: 10vh;
    margin-bottom: 100px;
    width: 120px;
}
.navbar h1{
    color: rgb(212, 175, 55);
    font-family: 'Shrikhand', cursive;
    margin-top: 10px; 
    margin-left: 30px; 
}
.navbar a{
    text-decoration: none;
}
a{
    width: fit-content;
}
.redes{ 
    margin-top: 15px;
    margin-right: 8px;
}
.redes a{
    color: rgb(212, 175, 55);
    font-family: 'Shrikhand', cursive;
}
.sign{
    align-items: center;
    animation: shine 2s forwards, flicker 3s infinite;
    background-image: radial-gradient(ellipse 50% 35% at 50% 50%,#6b1839,transparent);
    color: #ffe6ff;
    display: flex;
    font-family: "Clip";
    font-size: 60px;
    height: 50%;
    justify-content: center;
    letter-spacing: 2;
    left: 50%;
    position: absolute;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,-0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 50%;
}
.sign a{
    color: #ffe6ff;
    text-decoration: none;
}

@keyframes blink {
    0%,22%,36%,75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,33% {
    color: #ff65bd;
    text-shadow: none;
    }
    82%,97% {
    color: #ff2483;
    text-shadow: none;
    }
}
.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
    font-size: 60px;
}
.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
    font-size: 60px;
}

@keyframes shine {
    0% {
    color: #6b1839;
    text-shadow: none;
    }
    100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
}

@keyframes flicker {
    from {
    opacity: 1;
    }
    4% {
    opacity: 0.9;
    }
    6% {
    opacity: 0.85;
    }
    8% {
    opacity: 0.95;
    }
    10% {
    opacity: 0.9;
    }
    11% {
    opacity: 0.922;
    }
    12% {
    opacity: 0.9;
    }
    14% {
    opacity: 0.95;
    }
    16% {
    opacity: 0.98;
    }
    17% {
    opacity: 0.9;
    }
    19% {
    opacity: 0.93;
    }
    20% {
    opacity: 0.99;
    }
    24% {
    opacity: 1;
    }
    26% {
    opacity: 0.94;
    }
    28% {
    opacity: 0.98;
    }
    37% {
    opacity: 0.93;
    }
    38% {
    opacity: 0.5;
    }
    39% {
    opacity: 0.96;
    }
    42% {
    opacity: 1;
    }
    44% {
    opacity: 0.97;
    }
    46% {
    opacity: 0.94;
    }
    56% {
    opacity: 0.9;
    }
    58% {
    opacity: 0.9;
    }
    60% {
    opacity: 0.99;
    }
    68% {
    opacity: 1;
    }
    70% {
    opacity: 0.9;
    }
    72% {
    opacity: 0.95;
    }
    93% {
    opacity: 0.93;
    }
    95% {
    opacity: 0.95;
    }
    97% {
    opacity: 0.93;
    }
    to {
    opacity: 1;
    }
}
main{
    background-color: #ffe6ff;
    display: flex;
    height: 90vh;
    overflow-y: scroll;
    width: 100%;
}
/*Responsive*/
@media screen and (max-width:900px){
    .flicker{
        font-size: 30px;
    }
    .fast-flicker{
        font-size: 30px;
    }
    main .section1 img{
        height: 350px;
    }
    main .section2 img{
        height: 350px;
    }
    .navbar{
        justify-content: space-around;
    }
    .navbar img{
        width: 70px;
    }
    .navbar img a{
        margin-right: 0;
    }
    .navbar h1{
        margin-left: 0;
    }
    .redes{
        display: none;
    }
    .sign{
        font-size: 30px;
    }
}